.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header{
 text-align: center;
}

.navBar{
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

.navCategories{
  box-sizing: border-box;
  padding: 10px;
}


.pageTitle{
  text-align: center;
}

/* .reviewCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: 3%;
    text-align: left;
    text-indent: 1em;
    font-family: arial;
  } */
/* 
.reviewImage{
  width: 20%;
  height: auto;
  display: block;
  margin: right 1px;
  margin-left: 10px;
} */

.cardPage{
    font-family: "Quicksand", sans-serif;
    display: inline-grid;

}


.grid-container {
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);


}

.reviewImage{
  max-width: 100%;
  max-height: 25%;
  display: block;
  object-fit: cover;
}

.reviewBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-width: 19rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}





.commentCard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 90%;
  margin: 3%;
  text-align: left;
  text-indent: 1em;
  font-family: arial;
}

.commentPoster{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 90%;
  height: 8em;
  margin: 3%;
  text-align: left;
  text-indent: 1em;
  font-family: arial;
}

.commentBox{
  width:90%;
  height: 6em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
